html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a {
    color: #0060B6;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

body {
	line-height: 1;
/*    padding: 1em;*/
}
ol, ul {
	list-style: none;
}
body p li ul{
    font-family: "balboa";
    overflow: hidden;
}

#album{
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    float: left;
}

.track{
    display: inline-block;
}

.filters-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0;
    margin: 2em 10em;
}

.filter{
  display: inline-block;
  background-color: grey;
  margin-right: 15px; 
  margin-bottom: 15px;    
  padding: 5px;
  cursor: pointer;
  color: white;
  font-family: "balboa"; 
  font-weight: 100;
}

.heading{
  font-family: "balboa"; 
  font-weight: 100; 
    text-align: center;
    padding: 5em 0 2em 0;
}

.heading h1{
    font-size: 4em;
    padding-bottom: .25em;
}

.song-title a{
    font-family: "balboa";
    font-weight: 100; 
    text-decoration: none;
}

#lyric-container{
    width: 100%;
    background-color: lightgrey;
}

#lyric-container h3{
    text-align: center;
    font-size: 1.5em;
    font-family: "balboa"; 
    font-weight: 100; 
    color: white;
    padding: 5px;
/*    min-height: 30px;*/
}

.non-essential{
    transition: all 1s;
    opacity: .4;
}

#track-selector{
    text-align: center;
    font-family: "balboa";
    font-weight: 100; 
    margin-bottom: 1em;
    background-color: white;
}

#track-selector h3{
    display: inline-block;
/*    padding: 1em;*/
/*    min-width: 350px;*/
    font-size: 1.5em;
}

.fa{
    cursor: pointer;
}

.fa:hover {
    color: rgb(190, 219, 57);
}

.fa-play-circle{
    color: rgb(52, 136, 153);
}

canvas{
    padding: 0px 20px;
    border-right: 1px solid black;
}

#song-lyrics{
    position: inline-block;
    float: left;
    width: 20%;
    height: 100%;
    opacity: .9;
    z-index: 9999;
    position: absolute;
    background: white;
    background: rgba(255,255,255,0.8);
/*    border: 2px dashed transparent;*/
/*    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);*/
    margin-left: -200px;
    padding: 2em;
    padding-left: 240px;
    font-family: "balboa";
    font-weight: 100; 
    line-height: 1.75;
    overflow: auto;
    overflow-y: hidden;

}

#lyric-lines{
    overflow-y : auto;
    padding-bottom: 2000px;
}


canvas:first-of-type{
    margin-left: 35%;
}

#controls{
    margin-top: 1em;
    font-size: 1.5em;
}

#controls a{
    padding: 0 1em;
}